---
import { defaultLanguage } from '@/i18n/config';
import { withLangPrefix } from '@/i18n/routes';

export async function GET() {
  return Astro.redirect(withLangPrefix('/', defaultLanguage));
}
---

<html lang={defaultLanguage}>
  <head>
    <meta http-equiv="refresh" content={`0; url=${withLangPrefix('/', defaultLanguage)}`} />
  </head>
  <body></body>
</html>
